/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.vier-sheet-container {
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   /* max-height: -webkit-fill-available; */
   /* max-height: -moz-available; */
   /* max-height: fill-available; */
   touch-action: none;
   z-index: 99999;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -webkit-box-align: end;
   -ms-flex-align: end;
   align-items: flex-end;
   -webkit-transition: 0.35s background-color;
   -o-transition: 0.35s background-color;
   transition: 0.35s background-color;
   text-decoration: none;
   font-style: normal;
}

.vier-sheet-container:last-of-type {
   background-color: var(--container-color);
   -webkit-animation: vier-backgroundIn 0.35s;
   animation: vier-backgroundIn 0.35s;
}

.vier-anim-out:last-of-type {
   -webkit-animation: vier-backgroundOut 0.35s forwards !important;
   animation: vier-backgroundOut 0.35s forwards !important;
   /* background-color: transparent; */
}

.vier-sheet-container > .vier-sheet {
   height: var(--sheet-height);
   width: 100%;
   max-width: var(--sheet-max-width);
   max-height: var(--sheet-max-height);
   min-height: var(--sheet-min-height);
   bottom: 0;
   left: 0;
   right: 0;
   margin: 0 auto;
   background-color: var(--sheet-color);
   border-top-left-radius: var(--sheet-radius);
   border-top-right-radius: var(--sheet-radius);
   -webkit-box-shadow: 0px -6px 6px -4px rgba(0, 0, 0, 0.259);
   box-shadow: 0px -6px 6px -4px rgba(0, 0, 0, 0.259);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
   -ms-flex-flow: column nowrap;
   flex-flow: column nowrap;
   /* overflow: hidden; */
   -webkit-animation: vier-slideIn 0.35s ease;
   animation: vier-slideIn 0.35s ease;
}

.vier-sheet-container > .vier-sheet::after {
   position: absolute;
   content: '';
   display: block;
   left: 0;
   right: 0;
   z-index: -1;
   top: 99%;
   height: 101vh;
   background-color: var(--sheet-color);
   width: 100%;
   max-width: var(--sheet-max-width);
}

.vier-sheet-container > .vier-sheet > .vier-sheet-head {
   width: 100%;
   padding: 15px 10px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   z-index: 10;
   touch-action: manipulation;
   -webkit-box-pack: center;
   -ms-flex-pack: center;
   justify-content: center;
   -ms-user-select: none;
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -webkit-touch-callout: none;
}

.vier-sheet-container > .vier-sheet > .vier-sheet-head .vier-head-icon {
   width: 25%;
   height: 8px;
   border-radius: 100px;
   background-color: var(--sheet-slider-icon-color);
   -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.198);
   box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.198);
}

.vier-sheet-container > .vier-sheet > .vier-sheet-body {
   width: 100%;
   height: calc(100%);
   overflow-y: auto;
   scrollbar-width: thin;
   z-index: 5;
   scrollbar-color: rgba(129, 129, 129, 0.6) transparent;
}

.vier-sheet-container > .vier-sheet > .vier-sheet-body::-webkit-scrollbar {
   width: 5px;
}
.vier-sheet-container > .vier-sheet > .vier-sheet-body::-webkit-scrollbar-thumb {
   background-color: rgba(129, 129, 129, 0.6);
   border-radius: 15px;
}

@-webkit-keyframes vier-slideIn {
   0% {
      -webkit-transform: translateY(105%);
      transform: translateY(105%);
   }
   100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
   }
}

@keyframes vier-slideIn {
   0% {
      -webkit-transform: translateY(105%);
      transform: translateY(105%);
   }
   100% {
      -webkit-transform: translateY(0%);
      transform: translateY(0%);
   }
}

@-webkit-keyframes vier-backgroundIn {
   0% {
      background-color: transparent;
   }
   100% {
      background-color: var(--container-color);
   }
}

@keyframes vier-backgroundIn {
   0% {
      background-color: transparent;
   }
   100% {
      background-color: var(--container-color);
   }
}

@-webkit-keyframes vier-backgroundOut {
   100% {
      background-color: transparent;
   }
   0% {
      background-color: var(--container-color);
   }
}

@keyframes vier-backgroundOut {
   100% {
      background-color: transparent;
   }
   0% {
      background-color: var(--container-color);
   }
}
